@font-face {
    font-family: charter;
    src: url('../fonts/charter-regular.otf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: charter;
    src: url('../fonts/charter-italic.otf');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: charter;
    src: url('../fonts/charter-bold.otf');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: charter;
    src: url('../fonts/charter-bold-italic.otf');
    font-style: italic;
    font-weight: bold;
}

:root {
    font-size: 16px;
    --gray50: #424242;
    --gray40: #808080;
    --gray30: #212121;
    --gray20: #212429;
    --gray10: #616161;
    --black: #000000;
    --white: #ffffff;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--gray50);
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

a {
    color: var(--gray20);
}

.italic {
    
    font-style: italic;
    font-weight: bold;
}

.header-content {
    padding-inline: 20px;
}

header {
    margin-block-start: 20px;
    font-size: 14px;
    color: var(--gray10);
}

header li {
    color: var(--gray10);
    margin-block-end: 16px;
}

header li::marker {
    color: var(--gray10);
}

header a {
    color: var(--gray10);
    text-decoration: none;
}

header a:hover {
    color: var(--gray30);
}

details summary > * {
    display: inline;
}

nav::before {
    content: 'Contenido';
    text-transform: uppercase;
    padding-block-end: 16px;
    display: block;
    
}

nav details summary {
    cursor: pointer;
    font-weight: bold;
    list-style-type: none;
    padding-inline-start: 25px;
    position: relative;
    /* list-style-image: url('./../icons/arrow-horizontal.png'); */
}

/* summary:focus {
    list-style-image: url('./../icons/arrow-vertical.png');
} */

nav details summary::before {
    content: url('./../icons/gray-arrow-vertical.png');
    position: absolute;
    left: -8px;
    bottom: -8px;
}

/* nav details[open] summary::before {
    content: url('./../icons/arrow-horizontal.png');
} */

nav details .arrow-left::before {
    bottom: -8px;
}

details{
    margin-block-end: 16px;
}

.nav-secondary summary {
    text-transform: uppercase;
    cursor: pointer;
}

.nav-secondary details summary::marker{
    content: '';
}

.nav-secondary__list {
    padding: 0;
}

.nav-secondary__list li{
    list-style: none;
    margin-top: 16px;
    /* padding: 8px; */
}

.nav-secondary__list li a {
    padding: 8px;
    display: inline-block;
    width: 100%;
    border-radius: 4px;
    color: var(--gray40);
}

.nav-secondary__list li a:hover {
    color: var(--white);
    background: var(--black);

}

.nav-secondary__link--active {
    color: var(--white) !important;
    background: var(--gray30);
}

h1, h2, h3 {
    /* font-weight: normal; */
}

h1 {
    font-size: 40px;
    margin-block-start: 20px;
    margin-block-end: 16px;
    font-weight: normal;
}

h2 {
    font-size: 2em;
    margin-block: 40px;
    font-weight: normal;
}

h3 {
    font-size: 1.5em;
    font-weight: 600;
    font-weight: normal;
    margin-block-start: 40px;
    margin-block-end: 16px;
}

hr {
    margin-block: 64px;
    border-color: rgba(97, 97, 97, 0.2);
}

pre {
    overflow: auto;
    background: #FEC62E;
    padding: 40px;
    font-family: 'Roboto';
    line-height: 24px;
    color: var(--black);
}

p {
    color: var(--gray50);
    line-height: 24px;
}

.hero {
    background-image: linear-gradient(to top, rgba(255,255,255, .3), transparent), url('../images/pattern.png');
    block-size: 50px;
}

.section-content img {
    margin-block-start: 40px;
    display: block;
    max-inline-size: 100%;
}

.img-content {
    margin-block-start: 40px;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
}

.img-content--gc {
    background-image: url('./../images/dark-google-chrome.png');
}

.img-content--vsc {
    background-image: url('./../images/dark-visual-studio-code.png');
}

.img-content--figma {
    background-image: url('./../images/dark-figma.png');
}

.img-content--github {
    background-image: url('./../images/dark-github.png');
}

.section-content {
    counter-reset: titleList;
}

.section-content h3 {
    counter-increment: titleList;
}

.section-content h3::before {
    content: counter(titleList, decimal)'. ';
    color: var(--gray50);
}

.section-content h3::after {
    content: '';
    display: block;
    width: 32px;
    height: 4px;
    background: var(--gray50);
}

/* .section-content p {
    margin-block-end: 40px;
} */

blockquote {
    font-size: 24px;
    margin-block-start: 32px;
    margin-block-end: 64px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
    padding-inline-start: 16px;
    line-height: 24px;
    border-inline-start: 4px solid var(--gray30);
}


blockquote p {
    color: var(--gray50);
    margin-block-end: 16px !important;
}

blockquote span {
    color: var(--gray10);
} 

.none {
    display: none;
}

.main hr {
    /* display: none; */
}

.main {

}

.wrapper {
    max-inline-size: 902px;
    margin: auto;
}

.main-content {
    padding-inline: 16px;
}

.main-content h1,
.main-content__paragraph{
    color: var(--gray30); 
}

.slider {
}

.slider-container {
    /* block-size: 100px; */
    display: block;
    overflow: hidden;
    scroll-behavior: smooth;
    white-space: nowrap;
    font-size: 0;
}

.video{
    margin: 0;
    display: inline-block;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

.slider-bullet-list {
    text-align:center;
    margin-block-start: 10px;
}

.slider-bullet {
    display: inline-block;
    inline-size: 15px;
    block-size: 15px;
    background: var(--gray50);
    border-radius: 50%;
}

.form input {
    inline-size: 100%;
    border: 1px solid var(--gray10);
    box-sizing: border-box;
    border-radius: 90px;
    padding-inline: 16px;
    padding-block: 12px;
    color: var(--gray50);
    font-size: 16px;
    margin-block-end: 24px;
    display: inline;
}

.form input[type="submit"] {
    cursor: pointer;
    background: var(--black);
    border: none;
    color: var(--white);
}

.form input::-webkit-input-placeholder {
    color: var(--gray50);
}

.link-primary {
    color: var(--black);
}

ol li , ul li{
    color: var(--gray20);
}

ul li::marker {
    color: var(--gray30);
}

.section-content ul li {
    padding-block-end: 16px;
}

footer {
    background: var(--gray30);
    margin-block-start: 80px;
    padding-block-start: 48px;
    padding-block-end: 48px;
    position: relative;
}

footer p {
    font-size: 24px;
    text-align: center;
    color: var(--white);
    margin: 0;
    padding-block-end: 19px;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.facebook-icon {
    background-image: url(./../icons/facebook.png);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.instagram-icon {
    background-image: url(./../icons/instagram.png);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.twitter-icon {
    background-image: url(./../icons/twitter.png);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

@media screen and (min-width: 1366px) {

    .hero {
        block-size: 350px;
    }

    .header {
        position: sticky;
        inset-block-start: -45px;
    }
    
    .header-content {
        position: relative;
        inset-block-start: 65px;
        padding-inline: 0;
    }
    
    header {
        position: absolute;
        inset-block-start: 0;
        inset-inline-start: -208px;
        inline-size: 188px;
    }

    nav details summary::before {
        bottom: 6px;
    }

    h1 {
        font-size: 60px;
        margin-block-start: 64px;
    }

    footer p {
        font-size: 32px;
    }
}